.container__movies {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    width: 85%;
    margin: auto;
}

.movie__card {
    display: flex;
    background: var(--card-background);
    padding: 1.5rem;
    border-radius: 4px;
    max-height: 251px;
    box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.148);
    transition: 0.3s;
}

.movie__card:hover {
    border-left: 5px solid var(--secondary-color);
    transform: scale(1.01);
}

.movie__card--image {
    width: 204.33px;
    height: auto;
    border-radius: 50%;
    margin: 0 1rem;
    object-fit: cover;
    box-shadow: 20px 15px 15px rgba(0, 0, 0, 0.259);
    transform: scale(0.8);
}

.movie__card--informations {
    display: flex;
    gap: 8rem;
    align-items: center;
    overflow-y: auto;
}

.movie__card--info {
    padding: 3rem;
    position: sticky;
    top: 10%;
}

.movie__card--info--content {
    display: flex;
    gap: 2rem;
}

.movie__card--description {
    font-size: 18px;
    line-height: 31.86px;
    color: var(--terciary-color);
    height: 100%;
}

.movie__card--favorite,
.movie__card--rating {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    margin: 1.5rem auto;
    font-size: 18px;
}

.movie__card--rating::before {
    content: url(../img/icons/rating-icon.svg);
}

.movie__card--favorite.unchecked::before {
    content: url(../img/icons/favorite-icon__unchecked.svg);
}

.movie__card--favorite::before {
    content: url(../img/icons/favorite-icon__checked.svg);
}

@media screen and (min-width: 1441px) {
    .container__movies {
        width: 70%;
    }

    .movie__card {
        min-height: 20rem;
        max-height: 40rem;
    }

    .movie__card--image {
        border-radius: 5%;
    }

    .movie__card--title {
        font-size: 1.3rem;
    }

    .movie__card--informations {
        overflow-y: auto;
    }

    .movie__card--description {
        font-size: 1.2rem;
        height: auto;
    }
}

@media screen and (max-width: 1000px) {
    .movie__card {
        flex-direction: column;
        max-height: 50rem;
    }

    .movie__card:hover {
        border-left: 0px;
        border-bottom: 1px solid var(--secondary-color);
        transform: scale(1);
    }

    .movie__card--image {
        border-radius: 5%;
        margin: auto;
    }

    .movie__card--info {
        padding: 0;
    }

    .movie__card--informations {
        flex-direction: column;
        text-align: center;
        gap: 2rem;
        overflow: hidden;
    }

    .movie__card--description {
        overflow-y: scroll;
    }
}
